* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ================= BACKGROUND ================= */

body {
  font-family: Georgia, serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #7a1f1f, #6b4037);
}

/* ================= COVER ================= */

.outer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 500px;
  min-height: 100vh;
  padding: 60px 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background:
    linear-gradient(rgba(244,241,238,0.96), rgba(244,241,238,0.96)),
    url("assets/batik.jpg") center/cover no-repeat;
  transition: 0.8s ease;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.couple {
  font-size: 32px;
  color: #7a1f1f;
}

.date {
  color: #7a1f1f;
}

.illustration img {
  max-width: 260px;
}

.guest p {
  color: #7a1f1f;
}

#namaTamu {
  font-size: 20px;
  font-weight: bold;
  color: #7a1f1f;
}

.open-btn {
  padding: 14px 36px;
  background: #7a1f1f;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.open-btn:hover {
  transform: scale(1.05);
}

/* ================= HOME ================= */

.home {
  position: fixed;
  inset: 0;
  background:
    linear-gradient(rgba(244,241,238,0.96), rgba(244,241,238,0.96)),
    url("assets/batik.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  opacity: 0;
  pointer-events: none;
  transition: 0.8s ease;
}

.home.show {
  opacity: 1;
  pointer-events: auto;
}

.home-content {
  max-width: 500px;
  padding: 40px;
}

.home h2 {
  font-size: 32px;
  color: #7a1f1f;
}

.home-date {
  margin-top: 10px;
  color: #7a1f1f;
}

.divider {
  width: 80px;
  height: 2px;
  background: #7a1f1f;
  margin: 20px auto;
}

.event {
  margin-top: 20px;
}

/* ================= BOTTOM NAV ================= */

.bottom-nav {
  position: fixed;
  bottom: -100px;
  left: 0;
  width: 100%;
  height: 70px;
  background: #7a1f1f;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 -5px 20px rgba(0,0,0,0.25);
  transition: 0.5s ease;
  z-index: 999;
}

.bottom-nav.show {
  bottom: 0;
}

.nav-item {
  text-align: center;
  color: white;
  font-size: 12px;
  cursor: pointer;
  flex: 1;
  padding: 10px 0;
  transition: 0.3s;
}

.nav-item span {
  display: block;
  font-size: 20px;
  margin-bottom: 4px;
}

.nav-item.active {
  background: #d4b45f;
  color: #7a1f1f;
  border-radius: 15px;
  margin: 5px;
}
