* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 body {
  font-family: Georgia, serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: 
    linear-gradient(rgba(107,64,55,0.85), rgba(107,64,55,0.85)),
    url("assets/batik-bg.jpg") center/cover no-repeat;
  z-index: -1;
}

}

/* WRAPPER LUAR */
.outer {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* CARD */
.card {
  background: #f4f1ee;
  width: 100%;
  max-width: 500px;
  min-height: 88vh;
  border-radius: 30px;
  padding: 70px 30px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);

  display: flex;
  align-items: center;

  position: relative;   /* untuk ornamen */
  overflow: hidden;
}

/* ORNAMEN KIRI */
.card::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 110px;
  height: 90%;
  background: url("assets/ornamen-kiri.svg") no-repeat center;
  background-size: contain;
  opacity: 0.9;
  pointer-events: none;
}

/* ORNAMEN KANAN */
.card::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 110px;
  height: 90%;
  background: url("assets/ornamen-kanan.svg") no-repeat center;
  background-size: contain;
  opacity: 0.9;
  pointer-events: none;
}

/* CONTENT */
.content {
  max-width: 400px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

/* TEKS */
.couple {
  font-size: 32px;
  color: #7a1f1f;
}

.date {
  font-size: 15px;
  color: #7a1f1f;
}

.illustration img {
  width: 100%;
  max-width: 280px;
}

.guest p {
  color: #7a1f1f;
}

#namaTamu {
  font-size: 20px;
  font-weight: bold;
  color: #7a1f1f;
}

/* BUTTON */
.open-btn {
  margin-top: 10px;
  padding: 14px 36px;
  background: #7a1f1f;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.open-btn:hover {
  transform: scale(1.05);
}

/* ================= FADE ANIMATION ================= */

.fade {
  opacity: 0;
  transform: translateY(30px) scale(0.95);
  transition: all 1.2s cubic-bezier(0.22, 1, 0.36, 1);
}

.fade.show {
  opacity: 1;
  transform: translateY(0) scale(1);
}

