* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #6b4037;
  font-family: Georgia, serif;
}

/* WRAPPER LUAR */
.outer {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

/* CARD */
.card {
  background: #f4f1ee;
  width: 100%;
  max-width: 500px;
  min-height: 90vh;
  border-radius: 25px;
  padding: 40px 20px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

/* CONTENT */
.content {
  max-width: 400px;
  margin: auto;
}

/* TEKS */
.couple {
  font-size: 30px;
  color: #7a1f1f;
  margin-bottom: 6px;
}

.date {
  font-size: 14px;
  color: #7a1f1f;
  margin-bottom: 25px;
}

.illustration img {
  width: 100%;
  max-width: 320px;
  margin-bottom: 25px;
}

.guest p {
  color: #7a1f1f;
}

#namaTamu {
  font-size: 18px;
  font-weight: bold;
  color: #7a1f1f;
  margin-top: 6px;
}

.open-btn {
  margin-top: 20px;
  padding: 14px 32px;
  background: #7a1f1f;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.open-btn:hover {
  transform: scale(1.05);
}

/* ================= FADE ANIMATION ================= */

.fade {
  opacity: 0;
  transform: translateY(30px) scale(0.95);
  transition: all 1.2s cubic-bezier(0.22, 1, 0.36, 1);
}

.fade.show {
  opacity: 1;
  transform: translateY(0) scale(1);
}
