/* ================= SCREEN SYSTEM ================= */

.screen {
  position: absolute;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease;
}

.screen.show {
  opacity: 1;
  pointer-events: auto;
}

/* ================= SALAM CLEAN ================= */

.salam {
  display: flex;
  justify-content: center;
  align-items: center;

  background:
    linear-gradient(rgba(244,241,238,0.95), rgba(244,241,238,0.95)),
    url("assets/batik.jpg") center/cover no-repeat;
}

/* Oval Tengah */

.oval-box {
  width: 85%;
  height: 88%;
  background: #e8ddb7;
  border-radius: 250px;
  padding: 50px 30px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 22px;

  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

/* Text */

.salam-title {
  color: #7a1f1f;
  font-size: 16px;
}

.salam-text {
  font-size: 14px;
  line-height: 1.6;
  color: #7a1f1f;
}

/* Nama besar */

.nama-besar {
  font-size: 34px;
  color: #7a1f1f;
  font-family: Georgia, serif;
  font-weight: bold;
}

.nama-besar span {
  font-size: 26px;
}

/* Countdown */

.countdown {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.countdown div {
  width: 60px;
  height: 60px;
  background: #7a1f1f;
  color: white;
  border-radius: 14px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.countdown strong {
  font-size: 18px;
}

.countdown span {
  font-size: 10px;
}

/* Button */

.btn-calendar {
  margin-top: 10px;
  padding: 12px;
  border: none;
  border-radius: 30px;
  background: #7a1f1f;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-calendar:hover {
  transform: scale(1.05);
}
