* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #6b4037;
  font-family: Georgia, serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* WRAPPER LUAR */
.outer {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* CARD */
.card {
  background: #f4f1ee;
  width: 100%;
  max-width: 500px;
  min-height: 88vh; /* lebih proporsional */
  border-radius: 30px;
  padding: 70px 30px; /* atas & bawah lebih seimbang */
  text-align: center;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);

  display: flex;
  align-items: center; /* center vertikal */
}

/* CONTENT */
.content {
  max-width: 400px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px; /* jarak konsisten antar elemen */
}

/* TEKS */
.couple {
  font-size: 32px;
  color: #7a1f1f;
}

.date {
  font-size: 15px;
  color: #7a1f1f;
}

.illustration img {
  width: 100%;
  max-width: 300px;
}

.guest p {
  color: #7a1f1f;
}

#namaTamu {
  font-size: 20px;
  font-weight: bold;
  color: #7a1f1f;
}

/* BUTTON */
.open-btn {
  margin-top: 10px;
  padding:
