* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BACKGROUND LUAR */
body {
  font-family: Georgia, serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #7a1f1f, #6b4037);
}

/* COVER */
.outer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 500px;
  min-height: 100vh;
  padding: 60px 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background:
    linear-gradient(rgba(244,241,238,0.96), rgba(244,241,238,0.96)),
    url("assets/batik.jpg") center/cover no-repeat;
  position: relative;
  transition: 0.8s ease;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.couple {
  font-size: 32px;
  color: #7a1f1f;
}

.date {
  color: #7a1f1f;
}

.illustration img {
  max-width: 260px;
}

.guest p {
  color: #7a1f1f;
}

#namaTamu {
  font-size: 20px;
  font-weight: bold;
  color: #7a1f1f;
}

.open-btn {
  padding: 14px 36px;
  background: #7a1f1f;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.open-btn:hover {
  transform: scale(1.05);
}

/* ================= HOME ================= */

.home {
  position: fixed;
  inset: 0;
  background:
    linear-gradient(rgba(244,241,238,0.96), rgba(244,241,238,0.96)),
    url("assets/batik.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  opacity: 0;
  pointer-events: none;
  transition: 1s ease;
}

.home.show {
  opacity: 1;
  pointer-events: auto;
}

.home-content {
  max-width: 500px;
  padding: 40px;
}

.home h2 {
  font-size: 32px;
  color: #7a1f1f;
}

.home-date {
  margin-top: 10px;
  color: #7a1f1f;
}

.divider {
  width: 80px;
  height: 2px;
  background: #7a1f1f;
  margin: 20px auto;
}

.event {
  margin-top: 20px;
}

.fade {
  opacity: 0;
  transform: translateY(20px);
  transition: 1s ease;
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
}
