* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #6b4037, #4a2a23);
  font-family: Georgia, serif;
  position: relative;
  overflow-x: hidden;
}

/* FRAME KIRI KANAN */
.frame-left,
.frame-right {
  position: fixed;
  top: 0;
  width: 6px;
  height: 100vh;
  background: linear-gradient(to bottom, #7a1f1f, #a52a2a);
  pointer-events: none;
  z-index: 0;
}

.frame-left {
  left: 0;
}

.frame-right {
  right: 0;
}

/* CENTER WRAPPER */
.outer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
  z-index: 1;
}

/* CARD */
.card {
  background: #f4f1ee;
  width: 100%;
  max-width: 500px;
  padding: 50px 25px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 25px 50px rgba(0,0,0,0.3);
}

/* TEKS */
.couple {
  font-size: 32px;
  color: #7a1f1f;
  margin-bottom: 6px;
}

.date {
  font-size: 14px;
  color: #7a1f1f;
  margin-bottom: 30px;
}

.illustration img {
  width: 100%;
  max-width: 340px;
  margin-bottom: 30px;
}

.guest p {
  color: #7a1f1f;
}

#namaTamu {
  font-size: 18px;
  font
/* FADE ANIMATION */
.fade {
  opacity: 0;
  transform: translateY(30px);
  transition: all 1s ease;
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
}

