* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
  font-family: Georgia, serif;
}

/* Background luar */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #7a1f1f, #6b4037);
}

/* ================= PHONE FRAME ================= */

.phone-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-frame {
  width: 360px;
  height: 720px;
  background: #111;
  border-radius: 40px;
  padding: 12px;
  position: relative;
  box-shadow:
    0 40px 100px rgba(0,0,0,0.6),
    inset 0 0 0 2px rgba(255,255,255,0.05);
}

/* Notch */
.phone-frame::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 25px;
  background: #000;
  border-radius: 20px;
  z-index: 10;
}

/* ================= OPENING ================= */

.card {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background:
    linear-gradient(rgba(244,241,238,0.96), rgba(244,241,238,0.96)),
    url("assets/batik.jpg") center/cover no-repeat;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 20px;
}

.couple {
  font-size: 28px;
  color: #7a1f1f;
}

.date {
  color: #7a1f1f;
}

.illustration img {
  max-width: 220px;
}

.guest p {
  color: #7a1f1f;
}

.namaTamu {
  font-size: 18px;
  font-weight: bold;
  color: #7a1f1f;
}

.open-btn {
  padding: 12px 30px;
  background: #7a1f1f;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

/* ================= SCREEN SYSTEM ================= */

.screen {
  position: absolute;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease;
}

.screen.show {
  opacity: 1;
  pointer-events: auto;
}

/* ================= SALAM ================= */

.salam {
  display: flex;
  justify-content: center;
  align-items: center;

  background:
    linear-gradient(rgba(244,241,238,0.95), rgba(244,241,238,0.95)),
    url("assets/batik.jpg") center/cover no-repeat;
}

.oval-box {
  width: 85%;
  height: 88%;
  background: #e8ddb7;
  border-radius: 250px;
  padding: 50px 30px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 22px;

  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.salam-title {
  color: #7a1f1f;
  font-size: 16px;
}

.salam-text {
  font-size: 14px;
  line-height: 1.6;
  color: #7a1f1f;
}

.nama-besar {
  font-size: 34px;
  color: #7a1f1f;
  font-weight: bo
